
									
			<ul id="main-menu" class="main-menu">
				<!-- add class "multiple-expanded" to allow multiple submenus to open -->
				<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
				<li class="has-sub">
					<a href="<%= baseURL %>">
						<i class="entypo-gauge"></i>
						<span class="title">The App Feature</span>
					</a>
					<ul>
						<li>
							<a href="<%= baseURL %>/admin/user">
								<span class="title"> Manage Your User </span>
							</a>
						</li>
						<li>
							<a href="<%= baseURL %>/admin/todolist">
								<span class="title"> Todo List</span>
							</a>
						</li>
						<li>
							<a href="neon/dashboard-3.html">
								<span class="title">Dashboard 3</span>
							</a>
						</li>
						 
						<li>
							<a href="neon/highlights.html">
								<span class="title">Log Out</span>
								<span class="badge badge-success badge-roundless">v2.0</span>
							</a>
						</li>
					</ul>
				</li>  
			</ul>
			